

@using Models.gra;

<section class="content-header">
    <h1>
        Tesis
    </h1>
</section>
<section class="content container-fluid">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Actualizar Tesis</h3>
        </div>
        <form class="form" method="post" action="/Tesis/Update">
            @foreach (TesisView item in ViewBag.UnaTesis)
             {
            <div class="box-body">
                <div class="form-group">
                    <label for="">Codigo*</label>
                    <input type="text" class="form-control" name="Codigo" value="@item.Codigo">
                </div>
                <div class="form-group">
                    <label for="">Tema*</label>
                    <input type="text" class="form-control" name="Tema" value="@item.Tema">
                </div>
                
                <input type="hidden" name="Id" value="@item.Id" />
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default">Cancelar</button>
                <button type="submit" class="btn btn-primary pull-right">Guardar cambios</button>
            </div>
             }
        </form>
    </div>
</section>
